@page
@functions
{
    public string? DayName { get; set; }

    public void OnGet()
    {
        ViewBag.Title = "Wine Manager";
        DayName = DateTime.Now.ToString("dddd");
    }
}

 <div class="jumbotron">
     <h1 class="display-3">Welcome to @ViewBag.Title</h1>
     <p class="lead">It's @DayName A wine management system</p>
     <hr />
     <p>
     <a class="btn btn-primary" href="producers">
         Manage Producers
     </a>
    </p>
</div>
